.ContentResumer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

th {
    background-color: #292767;
    color: white;
    padding: 20px;
}
td {
    text-align: center;
    padding: 10px;
    
}

tr:nth-child(even) {
    background-color: #ebebeb;
}

tr:nth-child(odd) {
    background-color: #dfdfdf;
}

tr:hover {
    background-color: rgb(186, 186, 186);
    cursor: pointer;
}

tr {
    transition: all 0.3s ease-in-out;
}

.resumerButton{
    border-radius: 5px;
    background-color: #292767;
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.resumerButton:hover{
    background-color: #110f35;
    color: white;
    cursor: pointer;
}