
/* -------------------------------------------------------------------------------------------------- */
/* Header */ 

header {
    background: url(Logo.png) fixed;
    background-color: #5b5963;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    background-size: cover;
    height: 600px;
}

header > div{
    position: relative;
    top: 200px;
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}

header > div > strong > div{
    color: aliceblue;
    font-size: 30px;
}

#etu {
    padding-top: 10px;
}

.outline-text {
    text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

.a{
    text-decoration: none;
    color: black;
}

.aS{
  text-decoration: none;
  color: #1d597c;
}



/* -------------------------------------------------------------------------------------------------- */ 
/* Burger menu */

.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
/* -------------------------------------------------------------------------------------------------- */
/* Présentation */
div > p{
    font-size: 25px;
    text-align: justify;
}

#pres {
    width: 800px;
    margin: 80px auto auto auto;
    padding-bottom: 60px;
}

.contain {
  position: relative;
  height: 175px;
  padding-top: 60px;
}
.h2pres {
  position: relative;
  top: 44%;
  font-size: 46px;
  text-align: center;
}
.qui {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.05;
  font-size: 150px;
  text-align: center;
}
/* -------------------------------------------------------------------------------------------------- */
.h2pres2 {
  position: relative;
  top: 44%;
  font-size: 46px;
  text-align: center;
}
.contain2{
  position: relative;
  height: 175px;
  padding-top: 60px;
}
.parc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.05;
  font-size: 150px;
  text-align: center;
}
/* -------------------------------------------------------------------------------------------------- */
.contain3{
  position: relative;
  height: 175px;
  padding-top: 60px;
}

.act {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.05;
  font-size: 150px;
  text-align: center;
}

.h2pres3 {
  position: relative;
  top: 44%;
  font-size: 46px;
  text-align: center;
}

.h2pres4 {
  position: relative;
  top: 44%;
  font-size: 46px;
  text-align: center;
}

.pair{
    background-color: #f3f3f3;
}

/* -------------------------------------------------------------------------------------------------- */
/* Général */ 
body {
    min-width: 500px;
}

* {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------------------------------- */
/* Menu de navigation */

#navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

.na{
    height: 100px;
    background: #100e35;
}

.divnav{
    width: 100%;
    height: 100px;
    display: flex;
    background: #100e35;
}

nav{
	width: 100%;
	font-size: 18px;
    text-transform: uppercase;
}

.menu {
    bottom: 15px;
    position: relative;
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;

}

.menu li {
    float: left;
    width: 200px;
}

.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: #100e35;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}

.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0px;
    margin: 0px;
}

.menu .sousmenu li {
    float: none;
}

.menu li a:active {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #808080;
}

html { 
    scroll-behavior: smooth; 
}

.menu .sousmenu li a:hover, .menu li a:hover  {
    background-color: rgb(177, 237, 238);
    color: black;
    transition: 0.5s;
}

.menu li:hover .sousmenu {
    display: block;
}



