/* -------------------------------------------------------------------------------------------------- */
/* Général */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */

header {
  background: url(Logo.png) fixed;
  background-color: #5b5963;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  background-size: cover;
  height: 100vh;
}

header > div {
  text-align: center;
  color: aliceblue;
  font-size: 100px;
  height: 100vh;
}

header > div > strong {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1245px) {
  header > div {
    top: 170px;
  }
  
}

header > div > strong > div {
  color: aliceblue;
  font-size: 30px;
}
.mainTitle {
  font-size: 100px;
}

@media (max-width: 800px) {
  .mainTitle {
    font-size: 50px;
  }

  header > div {
    top: 255px;
  }
}

@media (max-width: 625px) {
  header > div {
    top: 230px;
  }
}


/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Conteneur de cartes */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}


@media (max-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .card-container .card:last-child:nth-child(odd) {
    grid-column: span 2;
  }
}
@media (max-width: 850px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-container .card:last-child:nth-child(odd) {
    grid-column: span 1;
  }
}

/* Style individuel d'une carte */
/* Mise à jour de la classe .card */
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Organise le contenu verticalement */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
}



.card-description {
    font-size: 1em;
    color: #666;
    margin: 10px 15px;
    flex-grow: 1; /* Pour permettre à la description de prendre de l'espace */
}

.card-btn {
    margin-top: auto; /* Pousse le bouton vers le bas */
    margin-bottom: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #292767;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-btn:hover {
    background-color: #110f35;
}

.card img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 500px) {
  .card img {
    width: 300px;
    height: 150px;
  }
}

.imgdiv {
  width: 100%;
  background-color: #000;
}

.card-title {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}


/* Effet au survol */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
